html {
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.hole {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(197, 192, 192, 0.5);
  width: 90vw;
  max-width: 320px;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 20px black;
}

.line1,
.line2,
.line3,
.line4,
.line5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 5px 0;
}

.equationbox {
  width: 100%;
  height: 50px;
  text-align: end;
  font-size: clamp(16px, 6vw, 25px);
  padding-right: 10px;
  background-color: transparent;
  border: none;
}

.equationbox:focus {
  outline: none;
  border: none;
}

.buttons,
.color {
  padding: 0;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  min-width: 45px;
  min-height: 45px;
  max-width: 70px;
  max-height: 70px;
  font-size: clamp(14px, 5vw, 20px);
  color: white;
  background-color: #1e1e1e;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-align: center;
}

.buttons:hover {
  background-color: #373737;
  cursor: pointer;
}

.buttons:active {
  background-color: #484848;
}

.color {
  background-color: orange;
  color: white;
}

.color:hover {
  background-color: rgb(255, 183, 50);
}

.color:active {
  background-color: rgb(255, 193, 78);
}

input {
  font-size: 16px;
}

@media (max-width: 350px) {
  .buttons,
  .color {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .hole {
    width: 95vw;
    max-width: 280px;
  }
}